@keyframes bigFlame {
    0%, 15%, 27%, 33%, 35%, 50%, 53%, 55%, 64%, 66%, 77%, 100% {
        transform: matrix(0.1, 1, -0.3, 2, 0, 0);;
    }
    5%, 7%, 20%, 25%, 30%, 40%, 45%, 60% {
        transform: matrix(-0.1, -1, -0.3, 1, 0, 0);;
    }
}

@keyframes mediumFlame {
    0%, 15%, 27%, 33%, 35%, 50%, 53%, 55%, 64%, 66%, 77%, 100% {
        transform: matrix(0.1, -1, -0.3, 2, 0, 0);;
    }
    5%, 7%, 20%, 25%, 30%, 40%, 45%, 60% {
        transform: matrix(-0.1, -1, -0.3, -1, 0, 0);;
    }
}