/* // create dropframes to simulate snow falling from different horizontal points down to bottom */
/* // create dropframes to simulate snow falling down from angles */

@keyframes dropLeft {
    from {
        translate: -50vw;
        opacity: 1;
    }

    25% {
        translate: -20vw 25vh;
        opacity: .75;
    }

    50% {
        translate: 0vw 50vh;
        opacity: .50;
    }

    75% {
        translate: 0vw 75vh;
        opacity: .25;
    }

    to {
        translate: 20vw 100vh;
        opacity: 0;
    }
}

@keyframes dropRight {
    from {
        translate: 50vw;
        opacity: 1;
    }

    25% {
        translate: 20vw 25vh;
        opacity: .75;
    }

    50% {
        translate: 0vw 50vh;
        opacity: .50;
    }

    75% {
        translate: 0vw 75vh;
        opacity: .25;
    }

    to {
        translate: -20vw 100vh;
        opacity: 0;
    }
}

@keyframes dropTop {
    from {
        translate: 0;
        opacity: 1;
    }

    25% {
        translate: 0 25vh;
        opacity: .75;
    }

    50% {
        translate: 20vw 50vh;
        opacity: .50;
    }

    75% {
        translate: 0 75vh;
        opacity: .25;
    }

    to {
        translate: -20vw 100vh;
        opacity: 0;
    }
}

@keyframes dropTopLeft {
    from {
        translate: -20vw;
        opacity: 1;
    }

    25% {
        translate: -20vw 25vh;
        opacity: .75;
    }

    50% {
        translate: 0vw 50vh;
        opacity: .50;
    }

    75% {
        translate: 10vw 75vh;
        opacity: .25;
    }

    to {
        translate: 20vw 100vh;
        opacity: 0;
    }
}

@keyframes dropTopRight {
    from {
        translate: 20vw;
        opacity: 1;
    }

    25% {
        translate: 20vw 25vh;
        opacity: .75;
    }

    50% {
        translate: 0vw 50vh;
        opacity: .50;
    }

    75% {
        translate: -10vw 75vh;
        opacity: .25;
    }

    to {
        translate: -20vw 100vh;
        opacity: 0;
    }
}