@media screen and (max-width: 600px )
{
  body {
    font-family: bradley hand, cursive;
    background: radial-gradient(ellipse at bottom, #465669 0%, #1d2131 100%);
    filter: drop-shadow(0 0 10px rgb(168, 143, 143));
    overflow: hidden;
    height: 100vh;
  }
  
  #menufadeIn {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
    margin-top: 250px;
  }

  #contentHolder {
    position: absolute;
    margin-left: 33vw;
    grid-area: CH;
    z-index: 2;
  }

  #resumeresumeGlow > h1 {
    animation: resumeGlow 6.5s infinite alternate;
    -webkit-animation: resumeGlow 6.5s infinite alternate;
    -moz-animation: resumeGlow 6.5s infinite alternate;
    -o-animation: resumeGlow 6.5s infinite alternate;
    -ms-animation: resumeGlow 6.5s infinite alternate;
  }

  #projectsprojectGlow > h1 {
    animation: projectGlow 8.5s infinite alternate;
    -webkit-animation: projectGlow 8.5s infinite alternate;
    -moz-animation: projectGlow 8.5s infinite alternate;
    -o-animation: projectGlow 8.5s infinite alternate;
    -ms-animation: projectGlow 8.5s infinite alternate;
  }

  #contactcontactGlow > h1 {
    animation: contactGlow 9.9s infinite alternate;
    -webkit-animation: contactGlow 9.9s infinite alternate;
    -moz-animation: contactGlow 9.9s infinite alternate;
    -o-animation: contactGlow 9.9s infinite alternate;
    -ms-animation: contactGlow 9.9s infinite alternate;
  }

  #snowingFrame {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 0px; 
    grid-template-areas: 
    "SC"
    "FP"
    "."  
    ;   
    justify-content: space-between; 
  }

  #frame {
    width: 100%;
    height: 100vh;
    border: 1px solid #FFF;
    color: #fff;
    text-align: center;
  }

  #snow {
    background-color: #FFF;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    z-index: -1;
    display: inline-block;
    position: relative;
  }

  #smallSnow {
    background-color: #FFF;
    border-radius: 100%;
    height: 5px;
    width: 5px;
    z-index: -1;
    display: inline-block;
    position: relative;
  }

  #bigSnow {
    background-color: #FFF;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    z-index: -1;
    display: inline-block;
    position: relative;
  }

  #snowCollector {
    grid-area: SC;
    height: 100vh;
  }

  #menu {
    margin-top: 250px;
  }

  #modal {
    border: 2px solid purple;
    height: 250px;
    margin-top: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 10px 10px;
    border-radius: 12%;
    background-color: #465669;
  }

  #modal > button {
    border-radius: 15%;
    padding: 5px 15px 5px 15px;
    margin: 0 15px 0 15px;
    background: rgb(154, 207, 250);
    border: 1px solid #FFF;
  }

  #firePit {
    grid-area: FP;
    border: 2px solid blue;
    position: absolute;
    z-index: 2;
    margin: auto;
    top: 80vh;
    height: 155px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ". . ."
    ". . ."
    ". LL RL"
    ;
  }

  #leftLog {
    background-color: chocolate;
    grid-area: LL;
    height: 20px;
    width: 130px;
    margin: auto;
    border-radius: 20%;
    transform: skew(190deg, 350deg);
  }

  #rightLog {
    background-color: chocolate;
    grid-area: LL;
    height: 20px;
    width: 130px;
    margin: auto;
    border-radius: 20%;
    transform: skew(350deg, 190deg);
  }
}